# ignore all downloaded images
downloads/*.raw

# ignore aws creation files
aws/trust-policy.json
aws/role-policy.json
aws/containers.json

# ignore openstack env files
openstack/openstack
openstack/*-openrc.sh
